@include keyframes(pulse) {
	0% { 
		@include transform(translateY(-5px));
	}
	50% { 
		@include transform(translateY(0px));
	}
	100% { 
		@include transform(translateY(-5px));
	}
}

@include keyframes(pulseDown) {
	0% { 
		@include transform(translateY(0px));
	}
	100% { 
		@include transform(translateY(10px));
	}
}


@include keyframes(fade) {
	0% { 
		opacity: 0;
	}
	50% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}

